[submodule "adele/adf"]
	path = adele/adf
	url = git@github.com:FeBarbosa/axpike-adf.git
[submodule "paper-sscad2026"]
	path = paper-sscad2026
	url = git@github.com:FeBarbosa/Exploration-of-transprecision-promotion-polices.git
